$red: #E6007E;
$pink: #DB6196;
$yellow: #DAE06A;
$green: #6CBD9C;
$blue: #83C3D1;
$darkblue: #337ab7;

$bg-blue: #20415F;
$bg-pink: #3E0D22;
$bg-yellow: #4C4E1F;
$bg-green: #192F26;

@font-face {
  font-family: "AHDN";
  src: url("/stylesheets/fonts/AHDN.ttf")
}

body {
  position: relative;
  color: white;
}

h1 {
  font-size: 48px;
}

.affix {
    top: 0;
    left: 0;
    z-index: 9999 !important;
}

.affix ~ .container-fluid {
  position: relative;
  top: 50px;
}

@media (max-width: 768px) {
  .affix {
    position: static;
  }
}

.nav-pills {
  margin-bottom: 0px;
  background-color: $green;

  li{

    a {
      color: inherit;

      font-size: 1.5em;
      border-radius: 0;

      &:hover, &:focus {
        transition: all .2s ease-in;
        background-color: $red;
      }
    }

    &.active {

      a {
        background-color: $red;

        &:hover, &:focus {
          background-color: $red;
        }
      }
    }
  }
}

.jumbotron {
  background-color: white;
  padding: 10px;
}

#about {
  background-color: $bg-pink;
  background-image: url("/images/backgrounds/mountains.png");
  background-size: cover;

}

#tickets {
  background-color: $bg-blue;
  background-image: url("/images/backgrounds/food2.png");
  background-size: cover;
}

#vendors {
  background-color: $bg-green;
  background-image: url("/images/backgrounds/clouds.png");
  background-size: cover;
}

#sponsors {
  color: black;
}

#getinvolved {
  background-color: $bg-blue;
  background-image: url("/images/backgrounds/volunteer.png");
  background-size: cover;
}

#contact {
  background-color: $bg-pink;
  background-image: url("/images/backgrounds/contact.png");
  background-size: cover;
}



.footer {
  background-color: $bg-blue;
}

.section {
  p {
    font-size: 1.25em;
    padding-bottom: 20px;
  }

  a {
    color: $red;
  }

  .row {
    padding: 50px;
  }
}

.section-icon {
  width: 200px;
  height: auto;
  opacity: .75;
}

.vendor-apps {
  list-style: none;
  padding-left: 0;
}

.contact {
  list-style: none;
}

.footer {
  padding-bottom: 200px;
  font-size: .75em;
}

.social {
  width: 75px;
  margin: 50px;
}

.sponsor {
  padding: 15%;
}

.bold {
  font-weight: bold;
}

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
