$red: #E6007E;
$pink: #DB6196;
$yellow: #DAE06A;
$green: #6CBD9C;
$blue: #83C3D1;
$darkblue: #337ab7;

@font-face {
  font-family: "AHDN";
  src: url("/stylesheets/fonts/AHDN.ttf")
}

.body {
  position: relative;
}

.affix {
    top: 0;
    left: 0;
    z-index: 9999 !important;
}

.affix ~ .container-fluid {
  position: relative;
  top: 50px;
}

.nav-pills {
  margin-bottom: 0px;
  background-color: $green;
  color: white;

  li{

    a {
      color: inherit;

      font-size: 1.5em;
      border-radius: 0;

      &:hover, &:focus {
        transition: all .2s ease-in;
        background-color: $red;
      }
    }

    &.active {

      a {
        background-color: $red;

        &:hover, &:focus {
          background-color: $red;
        }
      }
    }
  }
}

.jumbotron {
  background-color: white;
  padding: 10px;
}

#about {
  background-color: $red;
}

#tickets {
  background-color: $blue;
}

#map {
  background-color: $yellow;
}

#vendors {
  background-color: $green;
}

#sponsors {
  background-color: white;
}

.footer {
  background-color: $blue;
}

.header {
  color: white;
}

.section {
  p {
    font-size: 1.25em;
    padding-bottom: 20px;
  }
}

.section-icon {
  margin-top: 50px;
  width: 200px;
  height: auto;
}

.vendor-apps {
  list-style: none;
  padding-left: 0;
}

.contact {
  list-style: none;
}

.footer {
  padding-bottom: 200px;
  font-size: .75em;
}

.social {
  width: 75px;
  margin: 50px;
}

.sponsor {
  padding: 15%;
}
