<div class="section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag "/images/logo.png", class: "hidden-xs section-icon" %>
      </div>
      <div class="col-md-9">
        <h1 class="header">About</h1>
        <p>
          The Wasatch International Food Festival was formed from a community initiative to hold a food festival
          that would showcase the delicious ethnic foods from across the Wasatch Front. This two day festival will
          be held at the Utah Cultural Celebration Center Festival Grounds at 1355 West 3100 South West Valley
          City, UT 84119 on Friday, August 19th 5 p.m.-10 p.m. and Saturday, August 20th noon-10 p.m. The event
          will feature local food vendors serving international fair, a specialty foods market, family fun zone, live
          music, beer garden, a community mural project and food demonstrations.
        </p>
        <p>
          Developed by West Valley City and opened in 2003, the Utah Cultural Celebration Center has evolved
          into one of Utah’s premier venues for arts and cultural events. West Valley City, Utah’s second largest, is
          a dynamic blend of ethnicities and cultural groups, and, as such, is a true reflection of the rich cultural
          tapestry of Salt Lake County. The UCCC Foundation is a 501c3 non-profit that was created in 2012 to
          support UCCC programming and capital projects.
        </p>
        <p>
          Proceeds raised at the Wasatch International Food Festival will go to benefit the thousands of students,
          families and communities that participate in arts and cultural programs at the Utah Cultural Celebration
          Center.
        </p>
        <p>
          For more information or to sign up for our e-news to get all the latest on upcoming events, programs,
          festivals visit
          <%= link_to "http://www.culturalcelebration.org/uccc-foundation.html", "http://www.culturalcelebration.org/uccc-foundation.html" %>
        </p>
      </div>
    </div>
  </div>
</div>
