<div class="section" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="header">Contact</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <ul class="contact">
          <li class="bold">
            Julie Delong
          </li>
          <li>
            801-965-5124
          </li>
          <li>
            julie.delong@wvc-ut.gov
          </li>
          <li>
            For sponsorship and marketing opportunities
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul class="contact">
          <li class="bold">
            Sarah Senft
          </li>
          <li>
            801-965-5110
          </li>
          <li>
            sarah.senft@wvc-ut.gov
          </li>
          <li>
            For general inquiries, vendor and volunteer information
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul class="contact">
          <li class="bold">
            Salt Lake Valley Health Department Environmental Health/Food Protection
          </li>
          <li>
            788 East Wood Oak Lane (5380 S)
          </li>
          <li>
            Murray, UT 84107
          </li>
          <li>
            385-468-4100
          </li>
          <li>
            <%= link_to "www.slvhealth.org", "https://www.slvhealth.org" %>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul class="contact">
          <li class="bold">
            Special Events Division of the Utah State Tax Commission
          </li>
          <li>
            210 N 1950 W
          </li>
          <li>
            Salt Lake City, UT 84134
          </li>
          <li>
            Phone: 801-297-6306
          </li>
          <li>
            801-297-6358
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul class="contact">
          <li class="bold">
            Food Handler Card/Salt Lake Valley Health Department
          </li>
          <li>
            801-534-4669, ext. 4
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center google-maps">
        <iframe width="600" height="450" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJlfo6BWuLUocRlQLt0Hnmrlg&key=AIzaSyBmGaALSaN-RGKzDl833thjTsk4mleojt8" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
