<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <a href="https://www.facebook.com/WVCUCCC/"><%= image_tag 'facebook.svg', class: "social" %></a>
        <a href="https://www.instagram.com/wvcuccc/"><%= image_tag 'instagram.svg', class: "social" %></a>
        <a href="https://twitter.com/wvcuccc?lang=en"><%= image_tag 'twitter.svg', class: "social" %></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-right">
        Website by Ryan Cobb
      </div>
    </div>
  </div>
</div>
