<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <a href="#"><%= image_tag 'facebook.svg', class: "social" %></a>
        <a href="#"><%= image_tag 'instagram.svg', class: "social" %></a>
        <a href="#"><%= image_tag 'twitter.svg', class: "social" %></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-right">
        Website by Ryan Cobb
      </div>
    </div>
  </div>
</div>
