<div class="section" id="getinvolved">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="header" style="color: black">Get Involved</h1>
          <p>
            Support the Utah Cultural Celebration Center and have fun doing it!
            The Wasatch International Food Festival is in need of volunteers both
            days to help with general operating tasks including: ticket sales,
            gate monitoring, event set up, recycling and trash clean up, kid zone,
            and more.
          </p>
          <p>
            Volunteers will receive a food voucher, free water, a complimentary
            entrance ticket and a t-shirt.
          </p>
          <p>
            For more information on volunteering contact:
          </p>
          <ul class="contact">
            <li>
              Sarah Senft
            </li>
            <li>
              801-965-5110
            </li>
            <li>
              sarah.senft@wvc-ut.gov
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>
