<div class="section" id="tickets">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag "/images/ticket.svg", class: "section-icon hidden-xs" %>
      </div>
      <div class="col-md-9">
        <h1 class="header">Tickets</h1>
          <p>
            Individual and VIP tickets can be purchased online at TBA.
          </p>
          <p>
            Tickets can also be purchased in person at the Utah Cultural Celebration
            Center and at the gates the day of the festival.
          </p>
          <blockquote>
            <p>
              <span style="font-weight: bold;">Individual Tickets:</span> $5
            </p>
            <p>
              <span style="font-weight: bold;">VIP Packages:</span> $25
            </p>
          </blockquote>

          <p>
            Kids 12 and under get in free (with the exception of the VIP Lounge)
          </p>
      </div>
    </div>
  </div>
</div>
