---
title: Welcome
---

<div class="jumbotron">
  <div class="container">
    <div class="row text-center">
      <h1 class=>Wasatch International Food Festival</h1>
      <nav id="navspy">
        <ul class="nav nav-pills nav-justified" data-spy="affix" data-offset-top="127">
          <li>
            <a href="#about">About</a>
          </li>
          <li>
            <a href="#tickets">Tickets</a>
          </li>
          <li>
            <a href="#map">Map</a>
          </li>
          <li>
            <a href="#vendors">Vendors</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<div class="section" id="about">
  <div class="container">
      <h1 class="header">About</h1>
      <p>
        <%= lorem.paragraphs 20 %>
      </p>
  </div>
</div>

<div class="section" id="tickets">
  <div class="container">
    <h1 class="header">Tickets</h1>
    <p>
      <%= lorem.paragraphs 20 %>
    </p>
  </div>
</div>

<div class="section" id="map">
  <div class="container">
    <h1 class="header">Map</h1>
    <p>
      <%= lorem.paragraphs 20 %>
    </p>
  </div>
</div>
<div class="section" id="vendors">
  <div class="container">
    <h1 class="header">Vendors</h1>
    <p>
      <%= lorem.paragraphs 20 %>
    </p>
  </div>
</div>
